@import "tailwindcss";

:root {
  --background: #d4c283;
  --foreground: #3f3a2b;
  --header:rgb(149, 127, 85);
  --accent: #b96e2c;

  --font-sans: var(--font-geist-sans, Arial, sans-serif);
  --font-mono: var(--font-geist-mono, monospace);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header: var(--header);
  --color-accent: var(--accent);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}

header {
  color: var(--foreground);
  padding: 1rem 2rem;
}

.card {
  background-color: #f6f3ea;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --header:rgb(91, 77, 49);
    --accent: #d4a95f;
  }

  .card {
    background-color: #1a1a1a;
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  }
}